@font-face {
  font-family: 'josefin';
  src: url('fonts/josefinsans.woff2') format('woff2'),
 url('fonts/josefinsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'classgarmnd_btbold_italic';
  src: url('fonts/classicalgaramondbolditalicbt.woff2') format('woff2'),
       url('fonts/classicalgaramondbolditalicbt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'josefin_semibold';
src: url('fonts/josefin-semibold.woff2') format('woff2'),
     url('fonts/josefin-semibold.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'Script MT';
  src: url('fonts/ScriptMTBold.woff2') format('woff2'),
      url('fonts/ScriptMTBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html{
background:url(images/bg-tile.jpg);
}
body{
color:#D1C496;
font-family: 'josefin', sans-serif;
font-size: 18px;
margin:0;
background:#110604 url(images/bg-body.jpg) no-repeat center 0;
}
*{
  box-sizing: border-box;
}
p{
  line-height: 1.3;
}
img{
border:0;
max-width: 100%;
}
a{
outline:none;
color:#d3c27c;
text-decoration:none;
}
a:hover{
color:#fff;
}
hr{
	height:1px;
	overflow:hidden;
	border-width:1px 0 0;
	border-color:#a03f1c;
}
.clear{clear:both;}
h1, h2,h3,h4{font-weight: normal;}
h2{
  color: #dedede;
  font-family: 'classgarmnd_btbold_italic';
  font-size: 19px;
  line-height: 1;
}
h3{
  font-family: 'josefin_semibold';
margin:0 0 5px;
font-size:18px;
}
strong{
  font-weight: normal;
  font-family: 'josefin_semibold';
}
.content li h3{
font-size:14px;
}
audio{
  outline: none;
  height: 25px;
  width: 265px;
  margin: 0 0 2px;
}
address{
font-style:normal;
}
li{
margin:0 0 20px;
}
#container{
width:720px;
padding-top: 46px;
margin:0 auto 50px;
overflow:hidden;
box-shadow: 0 0 23px #000;
}
#nav{
font-family: 'classgarmnd_btbold_italic';
height:55px;
background:url(images/bg-menu.jpg) no-repeat center top;
margin:0;
padding:0;
overflow:hidden;
display: -webkit-box;display: -ms-flexbox;display: flex;
-ms-flex-pack: distribute;
justify-content: space-around;
}
#nav li{
list-style:none;
margin:0;
}
#nav li a{
  /*border-right: 1px solid #4c2c1b;*/
display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
color: #bd7d21;
  height: 100%;
padding: 10px 15px;
}
#nav li a:hover{
color: #e7931d;
}
#nav li.current a{
background: #955e10;
color: #120600;
}
.home .wrap{
background-position:0 450px;
}
.spotlight{
  background: #8b2600;
padding:1px 1px 0;
position:relative;
}
.overlay{
background: linear-gradient(90deg, rgb(22, 5, 0) 52%, rgba(32,6,0,0) 100%);
  padding: 20px;
  width: 300px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.overlay h2{
margin: 0 0 6px;
font-size: 32px;
color: #d1803f;
}
.overlay h3{
font-size: 22px;
margin: 0;
}
.spotlight h1{
  font-family: 'Script MT';
  font-size: 40px;
  color: #e5aa7b;
position:absolute;
margin:0;
top:30px;
left:30px;
}
.spotlight img{
  width: 100%;
  display: block;
}
.spotlight h1 span{
  display: block;
  font-family: 'josefin';
  font-size: 26px;
}
.spotlight h1 a{
  color:#efc4a2;
}
.homecontent{
background:#551400 url(images/bg-content.jpg) no-repeat center top;
display: -webkit-box;display: -ms-flexbox;display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
padding: 50px 10px 0;
}
.more{
color:#ffb005;
}
.col1{
  width: 45%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.col2{
  width: 55%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.taalmandir{
display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
        flex-direction: column;
  box-sizing: border-box;
background:#31160d url('images/bg-taal.jpg') no-repeat;
background-size: cover;
padding: 20px;
height: 100%;
}
.taalmandir h2{
color: #f2c54b;
  font-size: 30px;
  font-family: 'classgarmnd_btbold_italic';
  margin: 0 0 10px;
  line-height: 1;
}
.taalmandir h3{
  font-size: 24px;
  font-family: 'josefin';
  margin-bottom: 10px;
}
.taalmandir a.whatsapp{
  display: inline-block;
  font-size: 20px;
  color: #dedede;
}
.taalmandir a.whatsapp:before{
  background: url('images/whatsapp.png') no-repeat;
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.awards{
  background:#31160d;
}
.awards h3{
  margin: 0;
}
.awards h3 a{
  background: url(images/awards.gif) no-repeat 7px 5px;
  display: block;
  padding: 12px 0 12px 52px;
}
.award-list{
  padding: 0;
}
.award-list li{
  float: left;
  list-style: none;
  margin:0 30px 20px 0;
}
.news{
background:#0d0200;
padding:20px;
}
.news .links{
text-align: right;
}
.news .links .more{
  margin-left: 30px;
}
.news h2{
height:31px;
margin:-20px 0 0 43px;
position:relative;
top:-18px;
}
.news h2 span{
background:#200600;
padding: 5px 30px;
}
.news p a{
  color: #D1C496;
}
.news p a:hover{
color: #fff;
}
.events ul{
margin:0;
padding:0;
list-style:none;
}
.date{
width:42px;
height:44px;
background:#cfb659;
color:#8c4008;
font-weight:bold;
font-size:13px;
text-align:center;
float:left;
margin:5px 10px 0 0;
}
.date span{
display:block;
font-size:20px;
font-weight:normal;
}
.events .details{
float:left;
width:184px;
}
.events h3, .events h4, .events h5{
margin:0 0 2px;
font-size:15px;
font-weight:normal;
}
.events h3 span{
	font-weight:bold;
}
.events li{
padding:8px 0 10px;
float:left;
width:100%;
margin:0;
}
.events li.first{
padding-top:0;
}
.events .more{
float:right;
}
.thumb{
float:left;
margin:0 20px 0 0;
}
.content{
background:#551400 url(images/bg-content.jpg) no-repeat center top;
padding:40px 45px;
min-height:500px;
}
.content h2{
color: #d3c27c;
font-size: 25px;
margin:0 0 40px;
}
#footer{
background:#200600;
font-size: 15px;
padding:20px;
color:#8e3213;
}
#footer span{
float:right;
}
#footer span a{
color:#985e50;
}
#footer span a:hover{
color:#b07567;
}
.gallery{
margin:0;
padding:0;
list-style:none;
}
.gallery li{
float:left;
padding:1px 5px 6px 1px;
padding:0 25px 30px 0;
margin: 0;
width: 20%;
}
.gallery li a{
/*background:url(images/bg-gallery.gif) no-repeat;*/
background-size: cover;
display: block;
}
.gallery li img, .video-list li img{
border: 1px solid #c8ab53;
box-shadow: 4px 4px 8px rgba(0,0,0,.6);
width: 100%;
}
.concerts-list{
list-style:none;
padding:0;
margin:0;
}
.concerts-list li{
float:left;
width:100%;
margin:0 0 30px;
}
.concerts-list .details{
float:left;
width:400px;
}
.concerts-list h4, .concerts-list h5{
margin:0 0 5px;
}
.paging{
clear:both;
width:100%;
padding:10px 0;
text-align: center;
font-size: 18px;
}
.paging a{
  display: inline-block;
margin:0 5px;
padding: 5px;
font-size:15px;
vertical-align: middle;
}
.paging a.current{
color:#fff;
}
.paging a.prev, .paging a.next{
width:10px;
height:10px;
background:url(images/bg-arrows.gif) no-repeat 0 1px;
text-indent:-9999em;
margin:5px 5px 0;
}
.paging a.prev:hover{
background-position:0 -30px;
}
.paging a.next{
background-position:-48px 1px;
}
.paging a.next:hover{
background-position:-48px -30px;
}
.download{
float:right;
width:250px;
}
.download ul{
padding:0;
margin:0;
}
.download li{
margin:0 0 8px;
list-style:none;
}
.download h3{
margin:0 0 15px;
}
ul.news-list{
display: -webkit-box;display: -ms-flexbox;display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding:0;
margin:0;
}
.news-list li{
margin:0 20px 25px 0;
width:150px;
list-style:none;
}
.news-list img{
  margin-bottom: 10px;
}
.news-list li h4{
margin:0;
font-size:15px;
}
.social {
  float: right;
  margin: 0;
  padding: 0;
}
.social li{
  list-style: none;
  display: inline-block;
  margin: -5px 0 0 15px;
}
.social li a{
  display: block;
  text-indent: -999em;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
.facebook{
  background: url(images/facebook.png) no-repeat;
}
.social .whatsapp{
  background: url(images/icon-whatsapp.png) no-repeat;
}
.contact{
  display: -webkit-box;display: -ms-flexbox;display: flex;
}
.contact .item{
width: 50%;
}
.contact .item > div, .contact .item > address{
  padding: 10px 0 25px 40px;
  position: relative;
}
.contact .item > div:before, .contact .item > address:before{
  content: '';
  background: url('images/bg-contact.png') no-repeat;
  position: absolute;
  left: 0;
  height: 35px;
  top: 5px;
  width: 30px;
}
.contact .item > .phone:before{
  background-position:0 -47px;
}
.contact .item > .whatsapp:before{
  background-position:0 -91px;
}
.contact .item > .email:before{
  background-position:0 -135px;
}
.map{
  width: 100%;
  padding-top: 30px;
}
iframe{
  width: 100%;
  height: 350px;
}
.btnmenu, .menuoverlay{
  display: none;
}
.video-list{
  list-style: none;
  padding: 0;
display: -webkit-box;display: -ms-flexbox;display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.video-list li{
  padding-right: 20px;
  width: 33.33%;
}
@media (max-width: 575px){
  .fancybox-slide{padding: 10px;}
  .video-list li{
    padding-right: 15px;
  }
  .menuoverlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 5;
  }
  .open .menuoverlay{
    display: block;
  }
  .btnmenu{
    cursor: pointer;
    background: #f7cb4f;
    border-radius: 4px;
    display: block;
    position: absolute;
    right: 7px;
    padding: 6px;
    top: 7px;
    height: 32px;
    width: 35px;
    z-index: 7;
  }
  .btnmenu span{
    background: #333;
    display: block;
    margin-bottom: 6px;
      height: 2px;
  }
  #container{
    padding-top: 70px;
    width: 100%;
  }
  #nav{
    display: block;
    position: fixed;
    top: 43px;
    width: 200px;
    height: auto;
    z-index: 9;
    background-size: cover;
    -webkit-transition: all ease .3s;-o-transition: all ease .3s;transition: all ease .3s;
    right: -210px;
  }
  .open #nav{
    right: 7px;
  }
  .spotlight {
    padding: 0px 1px 0;
  }
  .overlay{
    background: #160500;
    position: static;
    width: 100%;
    clear: both;
  }
  .spotlight img{
    float: right;
    max-width: initial;
  }
  .spotlight h1{
    top: -51px;
  }
  .col1, .col2{
    width: 100%;
    padding: 0;
  }
  .homecontent{padding-top: 20px}
  .news{margin-top: 30px;}
  .news-list li {
    margin: 0 5px 25px 0;
    width: 142px;
  }
  .content{
    padding: 40px 20px;
    clear: both;
    min-height: 300px;
  }
  .gallery li{
    width: 33.333%;
  }
  .contact{
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact .item{
    width: 100%;
  }
}